.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  color: white;
}
.main-container>div{
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  min-height: calc(100vh - 112px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  margin: 0;
}
.fa-plus {
  font-size: 28px;
}
.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.logo .fa-bolt {
  font-size: 24px;
}
.icon {
  width: 24px;
  height: 24px;
}
.navbar {
  padding: 24px 0px;
  width: 85%;
  height: 64px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
}
.city-date-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto 48px;
}
.city-name {
  font-size: 40px;
  margin-bottom: 0px;
}

.date-time {
  display: flex;
  font-size: 20px;
}
.date,
.time {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  letter-spacing: 1px;
}
.time {
  margin-left: 8px;
}
.weather-temp {
  font-size: 64px;
  font-weight: bolder;
}
.weather-data {
  display: flex;
  flex-direction: row;
}
.weather-data > div {
  width: 85%;
  margin: auto;
}
.weather-data div {
  display: flex;
  flex-direction: row;
}

.weather-desc {
  margin-left: 6px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.center {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-ubold {
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
}
.hidden{
  display: none;
}
.data-bold {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}
.data-bold1 {
  margin-top: 8px;
  color: gray;
  font-size: 18px;
  text-transform: uppercase;
}
.other-data {
  display: flex;
  flex-direction: row;
  padding-left: 48px;
}
.other-data .card {
  padding: 8px 24px;
  border-right: thin solid whitesmoke;
  border-spacing: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.fa-arrow-right {
  padding: 8px 24px;
  font-size: 24px;
  font-weight: normal;
}
.d-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title-light {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.data-value {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 4px;
}
.data-unit {
  font-size: 16px;
  font-weight: bolder;
}
input[type="text"] {
  font-size: 40px;
  border: none;
  padding: 8px 0px;
  background: transparent;
  color: white;
}
input[type="text"]::placeholder {
  color: white;
}
input[type="text"]:focus {
  outline: none;
}
button {
  background: transparent;
  color: white;
  border: none;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}
.date-time {
  display: flex;
}
.date,
.time {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  letter-spacing: 1px;
}
.time {
  margin-left: 8px;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 96px;
  width: 96px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fog-bg{
  background-image: url('../fog-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.haze-bg{
  background-image: url('../haze-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.snow-bg{
  background-image: url('../snow-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.cloudy-bg {
  background-image: url('../cloudy-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.clearday-bg {
  background-image: url('../clearday-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.clearnight-bg {
  background-image: url('../clearnight-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.rain-bg {
  background-image: url('../rain-bg.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}
.thunder-bg {
  background-image: url('../thunder-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.drizzle-bg{
  background-image: url('../drizzle-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cloudynight-bg {
  background-image: url('../cloudynight-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.default-bg {
  background-image: url('../default-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .main-container {
    width: 100vw;
    min-height: 100vh;
    color: white;
  }
  .container {
    min-height: calc(100vh - 96px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    padding: 16px 0px;
    width: 95%;
    height: 64px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .city-date-container {
    width: 95%;
    margin: auto;
  }
  .data-value {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 4px;
  }
  .data-unit {
    font-size: 16px;
    font-weight: bolder;
  }
  .icon {
    width: 16px;
    height: 16px;
  }
  .city-name {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .weather-temp {
    font-size: 48px;
    font-weight: bolder;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
  }
  .weather-data > div {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .weather-desc {
    margin-left: 4px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .data-ubold {
    font-size: 40px;
    font-weight: 500;
    margin: 0px;
  }
  .data-bold {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
  }
  .data-bold1 {
    margin-top: 8px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase;
  }
  .other-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 0px;
  }

  .other-data .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    border: none;
    border-left: 1px solid white;
    justify-content: flex-start;
  }
  .other-data .card:nth-child(1) {
    padding-right: 24px;
    padding-left: 0px;
    border: none;
  }
  .inline {
    display: flex;
    flex-direction: row;
  }
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
    height: 56px !important;
    width: 56px !important;
  }
  input[type="text"] {
    font-size: 28px;
    max-width: 250px;
    border: none;
    padding: 8px 0px;
    background: transparent;
    color: white;
  }
}